body {
    background-color: #b0e4df;
    color: #14867b;
    text-shadow: #000 0px 1px 0px;
}

h1 {
	font-family: Verdana;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}

img {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
}

#photo {
    border: 1px #000 solid;
    width: 150px;
}

#border {
    background-color: #dff7eb;
    border: #465f98 7px ridge;
    margin: 10px 20px 10px 20px;
    padding: 25px;
}

#border p {
	font-family: Georgia;
    font-size: 1.2em;
}

#cualidades {
    font-size: 1.2em;
	line-height: 25px;
	margin: -3px 0px -3px 0px;
}